
body {
    font-family: Stencil Std, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #BAEEF6;
}

h1 {
    color: ##9966cc;
}

p {
    color: #666;
}

table {
    width: 100%;
    border-collapse: collapse;
}
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
img {
    width: 100px; 
    height: auto;
}
