
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #F7B9E7;
}

h1 {
    color: #333;
}

p {
    color: #666;
}


body {
  background-color: pink;
}
